@model GetStartAspNet.Models.FindDirectsModel
@{
    ViewBag.Title = "Find Directs Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #search_cover {
        padding: 10px;
        justify-content: flex-end;
        display: flex;
    }

    #search_container {
        background: white;
        z-index: 2;
        box-shadow: 10px 20px 40px;
        margin-right: 15px;
        padding: 0;
        width: 30%;
    }

    #findDirecBox {
        padding: 10px;
        padding-top: 5px;
        display: flex
    }

    .search_box_cover {
        margin: 10px 0;
        display: flex;
    }

    .search_box {
        border: 0px;
        border-radius: 0px;
        border-bottom: 1px solid gray;
        outline: none;
        box-shadow: none !important;
    }

    #search_btn_startPoitn {
        border: 0px;
        outline: none;
        box-shadow: none !important;
    }

    #search_btn_endPoitn {
        border: 0px;
        outline: none;
        box-shadow: none !important;
    }

    .screenShot {
        border: 0px;
        outline: none;
        box-shadow: none !important;
    }

    .iconScreenShot {
        font-size: 15px;
    }

    .directs_btn {
        border: 0px;
    }

    #result_search {
        background: white;
        border-radius: 10px;
        padding: 10px 0;
    }

    .list-group {
        max-height: 600px;
        overflow-y: auto;
    }

    .list-group-item {
        display: flex;
        align-content: center;
        padding: 12px 15px;
        border: 0;
        cursor: pointer;
        justify-content: space-between
    }

    .list-group :hover {
        background-color: lightyellow;
    }

    .namePoint {
        font-weight: bold;
    }

    .addressPoint {
        font-size: small;
        padding-left: 1px;
    }

    .pointContent {
        border: 0;
        flex: 7;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-right: 2px;
    }

    #iconPointMarker {
        flex: 1;
        font-size: 25px;
        align-items: center;
        margin: auto;
        color: lightcoral
    }
    #btn_save_cover {
        display: flex;
        flex-direction: column;
        transition:2s;
    }
        #btn_save_cover button {
            margin: 10px;
        }
    .inform {
        padding: 5px;
        border: 2px solid;
        display: none
    }

    #inform_cover {
        max-height: 200px;
        overflow: auto;
        display: flex;
        flex-direction: column;
        z-index: 2;
        position: absolute;
        bottom: 20px;
        right: 20px;
    }
</style>

<div id="containerMap" class="body-content" style="height:100%; background-color:lightgray; padding:0">

    <div id="search_cover" class="row">
        <div style="background-color:lightgray; z-index:2" id="btn_save_cover" class="hidden">
            <button class="btn btn-link btn-sm " id="btnSave" data-toggle="modal" data-target="#exampleModal"><i class="glyphicon glyphicon-save"></i></button>
            <button class="btn btn-link btn-sm" id="btnRefresh"><i style="color:black" class="glyphicon glyphicon-refresh"></i></button>

        </div>
        <div class="col-xs-6 col-md-4" id="search_container">


            <div id="findDirecBox">
                <div style="flex:0.9">
                    <div id="startPointCover" class="search_box_cover input-group">
                        <button id="screenShotStart" class="btn btn-default screenShot"><i class="iconScreenShot glyphicon glyphicon-screenshot"></i></button>
                        @Html.EditorFor(model => model.nameStartPoint, new { htmlAttributes = new { id = "seachStartPoint", @class = "search_box form-control border-0", placeholder = "Choose starting point" } })
                        <button id="search_btn_startPoitn" class="btn btn-default "><i class="glyphicon glyphicon-search"></i></button>
                        <div class='lat hidden'></div>
                        <div class='lng hidden'></div>

                    </div>
                    <div id="endPointCover" class="search_box_cover input-group">
                        <button id="screenShotEnd" class="btn btn-default screenShot"><i class="iconScreenShot glyphicon glyphicon-screenshot"></i></button>
                        @Html.EditorFor(model => model.nameEndPoint, new { htmlAttributes = new { id = "seachEndPoint", @class = "search_box form-control border-0", placeholder = "Choose ending point" } })
                        <button id="search_btn_endPoitn" class="btn btn-default "><i class="glyphicon glyphicon-search"></i></button>
                        <div class='lat hidden'></div>
                        <div class='lng hidden'></div>

                    </div>
                </div>

                <div style="justify-content:center; align-items:center;display:flex;flex:0.2">
                    <button class="btn btn-default btn-lg" type="submit" onclick="OnSubmitFindDirects(this)">
                        <i class="glyphicon glyphicon-menu-right"></i>
                    </button>
                </div>
            </div>
            <div id="result_search_view" class="hidden">
                <hr style="border:1px solid lightcoral; margin:5px 0 0 0" />
                <div class="list-group" id="list-point">
                    <div id="result_search">
                    </div>
                </div>
            </div>
        </div>
        <div id="inform_cover">
            <div id="success_inform" class="inform alert alert-success">
                <div class="card-body">
                    <strong>Success! </strong><span id="success_text"></span>
                </div>
            </div>
            <div id="fail_inform" class="inform alert alert-danger">
                <div class="card-body">
                    <strong>Error! </strong> <span id="fail_text"></span>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background:#2bbbad;color:white">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title " id="exampleModalLabel">Save Path</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="recipient-name" class="control-label">Name Path:</label>
                    <input type="text" class="form-control" id="namePoint">
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="control-label">Name Start Point:</label>
                    <input type="text" class="form-control" id="nameStartPoint">
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="control-label">Name End Point:</label>
                    <input type="text" class="form-control" id="nameEndPoint">
                </div>
            </div>
            <div id="informSavePath" class="alert alert-danger" style="display:none">
                <strong>Error!</strong> <span id="errorSavePath"></span>
            </div>
            <div class="modal-footer">
                <button type="button" id="closeModal" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" id="submitSavePath" style="background:#2bbbad" class="btn btn-success">Save</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/FindDirectsPage.js"></script>
